/* reset css - сброс дефолтных стилей браузера */
* {  /* КО ВСЕМУ на странице */
    margin: 0;  /* обнуляю внешние отступы */
    padding: 0; /* обнуляю внутренние отступы */
    font-size: 18px;  /* устанавливаю общий размер шрифта */

    font-family: sans-serif;  /* шрифт без засечек */
    box-sizing: border-box;  /* устанавливаю правила отображения блочных элементов */
}
/*
em - размер относительно свойства, прописанного в css вами
rem - root em - размет относительно дефолтного размера у браузера
*/

.menu {  /* стилизую список */
    width: 40%; /* ширина 40% от размера экрана */
    border-left: 2px solid #132a6f;

    margin: 1.5rem auto;  /* верх-низ: 1.5 * d.v.; края: автоматически подобраны */
    padding: 0.5rem 2rem;
}

.menu li {
    list-style-type: none;
    margin-bottom: 0.75rem;
}

a {
    text-decoration: none;
    font-size: 2em; /* 18px * 2 (размер из 5 строчки) */
    color: #132a6f;
    transition: all 0.3s ease-in-out;  /* анимировать: все полсекунды плавный-вход-выход */
}

a:hover {  /* псевдокласс hover отслеживает, находится ли курсор мыши над ссылкой */
    font-size: 2.5em;
    color: #1e51da;
}
