.box {
    border: 5px solid #663398;  /* рамка 5 пикселей, сплошная, фиолетовая */
    background: #9a9a9a;  /* фон серый */
    padding: 40px;  /* внутренний отступ 40пикс с каждой стороны */
    margin: 40px;  /* внешний отступ 40 пикс с каждой стороны */
    width: 500px;  /* ширина 500 пикс */
    height: 150px;  /* высотка блока 150 пикс */
}

.alternative {
    box-sizing: border-box;  /* включаю альтернативную блочную модель */
    margin-top: 80px;  /* выставляю отступ сверху 80 пикс  */
}


