/* чтобы обратиться к классу,
нужно написать его имя с точкой в начале - .class */
.button {
    font-size: 1.5em; /* размер_шрифта: размер_по-умолчанию * 1.5 */
    text-decoration: none; /* убираю базовую стилизацию ссылки */
    color: #5eaaaa;
    border: 0.2em solid #5eaaaa; /* граница: толщина_линии стиль_линии цвет */
    /*
        Стили линии:
        solid - сплошной, простая линия
        dotted - линия из точек
        dashed - линия из маленьких прямоугольников
    */
    border-radius: 0.5em;  /* скругление углов */
    padding: 0.25em;  /* внутренний отступ с каждой стороны 0.25em */
    text-align: center;  /* выравнивание текста по центру */

    display: block;  /* настраивает отображение элемента в виде блочного элемента */
    width: 10%;  /* ширина блока 10% от страницы */
}
