.order {
    width: 40%;
    margin: 0 auto;
    padding: 1em;
    border: 0.2em solid #0d1842;
}

fieldset {
    border-color: #0d1842;
    padding: 2em;
    border-radius: 0.5em;
    margin-bottom: 0.75em;
}

legend {
    color: #0d1842;
    font-size: 18px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
    width: 70%;
}


input[type=text],
input[type=email],
input[type=number],
input[type=date],
input[type=time],
select {
    display: block;
    width: 60%;
    padding: 0.5em;
    border-radius: 0.5em;
}

label {
    font-size: 18px;
    color: #0d1842;
    font-weight: bold;
}



