* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 20px;
    color: #464646;
}

.content {
    padding: 1em;
}

.card {
    width: 30%; /* по умолчанию ширина всегда 30% от страницы */
    max-width: 300px;  /* никогда не станет больше 300 пикселей */
    margin: 0.5em auto;
    text-align: center;

    border-bottom: 0.2em solid #f5f5f5;
    background: #e0e0e0;

    transition: 0.5s ease-in-out;
}

.card:hover {
    border-bottom: 0.2em solid #fc5a5a;
}

.card-picture img {
    display: block;
    width: 100%;
}

.card-content {
    background: #fafafa;
    padding: 1em 0;
}

.card-content h3 {
    font-size: 1.2em;
    color: #444444;
    margin-bottom: 0.5em;
}

.subheading {
    font-size: 0.8em;
    color: #fc5a5a;
    display: block;
    margin-bottom: 0.5em;
}

.card-content a {
    text-decoration: none;
    display: inline-block;
    padding: 0.75em 0.75em;
    background: #cccccc;
    color: white;
    text-transform: uppercase;  /* капс */
    font-size: 1.2em;
    transition: 0.5s ease-in-out;
}

.card-content:hover a {
    background: #fc5a5a;
}
