body {
    font-family: sans-serif;
    box-sizing: border-box;
    text-align: justify;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.president {
    width: 20%;  /* ширина 20% от ширины окна браузера */
    padding: 1em;  /* внутренний отступ (воздух) */
    border: 0.1em solid black;  /* рамка вокруг блока. solid - сплошной (просто линия), black - черный */
    border-radius: 2em;  /* скругление углов рамки */
    margin-bottom: 1em;  /* внешний отступ снизу */
}

.democratic {
    border-color: #1F9FF2;
}

.republican {
    border-color: #DE0100;
}